html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #616161;
  line-height: 17px;
  font-weight: 400;
  background: #EDF0F9;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-weight: 700;
  font-size: 120px;
  line-height: 150px;
}

main {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
.sidebar__inner {
  background-color: #fff;
  padding: 18px 12px 18px 18px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__inner-logo {
  margin-bottom: 56px;
}
.sidebar__inner-link {
  color: #9A91B3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.sidebar__inner-link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__inner-link span img {
  width: 100%;
}
.sidebar__inner-link-icon {
  width: 21px;
  height: 21px;
  margin-right: 8px;
}
.sidebar__inner-link-arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 7px;
  height: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.sidebar__inner ul li {
  margin-bottom: 22px;
}
.sidebar__inner-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 18px;
  color: #2D3748;
  padding: 12px 13px;
  -webkit-box-shadow: 0px 3.5px 5.5px 0px #0000000D;
          box-shadow: 0px 3.5px 5.5px 0px #0000000D;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  background-color: #fff;
  max-width: 180px;
  margin: auto 0 0 0;
  position: relative;
}
.sidebar__inner-user::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1.5px solid #A0AEC0;
  border-right: 1.5px solid #A0AEC0;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}
.sidebar__inner-user span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.sidebar__inner-user span img {
  width: 100%;
  border-radius: 50%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: -0.01em;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}
.button.primary {
  background-color: #5F8DF8;
  color: #fff;
  border: 1px solid #5F8DF8;
}
.button.primary svg {
  fill: #fff;
}
.button.primary:hover {
  background-color: #fff;
  color: #5F8DF8;
}
.button.primary:hover svg {
  fill: #5F8DF8;
}
.button.secondary {
  background-color: #fff;
  color: #5F8DF8;
  border: 1px solid #5F8DF8;
}
.button.secondary svg {
  fill: #5F8DF8;
}
.button.secondary:hover {
  background-color: #5F8DF8;
  color: #fff;
}
.button.secondary:hover svg {
  fill: #fff;
}
.button.close {
  padding: 9px 12px;
  background-color: #E14B4B;
  border: 1px solid #E14B4B;
}
.button.close svg {
  width: 11px;
  height: 11px;
  fill: #fff;
}
.button.close:hover {
  background-color: #fff;
}
.button.close:hover svg {
  fill: #E14B4B;
}
.button.previous {
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: 1px solid #C1C9D2;
  border-radius: 4px;
  color: #4F566B;
  background-color: #fff;
}
.button.next {
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #5469D4;
}
.button svg {
  width: 13px;
  height: 13px;
  margin-right: 8px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
}
.header__inner-logo img {
  width: 100%;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  position: relative;
  width: 30px;
  height: 30px;
}
.burger:hover {
  opacity: 0.8;
}
.burger::before {
  top: 20%;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger span {
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-ransform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.burger::after {
  bottom: 20%;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active span {
  opacity: 0;
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
  transform: translate(-50%, 50%) rotate(-45deg);
}

.intro {
  width: calc(100% - 310px);
  margin: 0 0 0 auto;
  height: 100%;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}