html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #616161;
  line-height: 17px;
  font-weight: 400;
  background: #EDF0F9;
}
body.active {
  overflow: hidden;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #3D3D3D;
}

h2 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000;
}

h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
}

p.sm {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
}
p.big {
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
}

main {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: -0.01em;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}
.button:hover {
  opacity: 0.8;
}
.button.primary {
  background-color: #5f8df8;
  color: #fff;
  border: 1px solid #5f8df8;
}
.button.primary svg {
  fill: #fff;
}
.button.primary:hover {
  background-color: #fff;
  color: #5f8df8;
}
.button.primary:hover svg {
  fill: #5f8df8;
}
.button.secondary {
  background-color: #fff;
  color: #5f8df8;
  border: 1px solid #5f8df8;
}
.button.secondary svg {
  fill: #5f8df8;
}
.button.secondary:hover {
  background-color: #5f8df8;
  color: #fff;
}
.button.secondary:hover svg {
  fill: #fff;
}
.button.close {
  padding: 9px 12px;
  background-color: #e14b4b;
  border: 1px solid #e14b4b;
}
.button.close svg {
  width: 11px;
  height: 11px;
  fill: #fff;
  margin: 0;
}
.button.close:hover {
  background-color: #fff;
}
.button.close:hover svg {
  fill: #e14b4b;
}
.button.previous {
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: 1px solid #C1C9D2;
  border-radius: 4px;
  color: #4F566B;
  background-color: #fff;
}
.button.next {
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #5469D4;
}
.button svg {
  width: 13px;
  height: 13px;
  margin-right: 8px;
}

.input {
  max-width: 340px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-family: "Inter", sans-serif;
}
.input.valid input {
  border: 1px solid #59DDAA;
}
.input.invalid input {
  border: 1px solid #FFAEB5;
}
.input.invalid p {
  display: block;
}
.input label {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #191B23;
  margin-bottom: 8px;
}
.input input {
  display: block;
  width: 100%;
  border: 1px solid #C4C7CF;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  padding: 8px 12px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-family: "Inter", sans-serif;
}
.input input::-webkit-input-placeholder {
  color: #A9ABB6;
}
.input input::-moz-placeholder {
  color: #A9ABB6;
}
.input input:-ms-input-placeholder {
  color: #A9ABB6;
}
.input input::-ms-input-placeholder {
  color: #A9ABB6;
}
.input input::placeholder {
  color: #A9ABB6;
}
.input p {
  display: none;
  font-size: 13px;
  line-height: 20px;
  color: #B43E3E;
  font-weight: 500;
}

.checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  margin-right: 8px;
  opacity: 0.8;
}
.checkbox.table span {
  border: 2px solid #C4C7CF;
  padding: 6px 5px;
}
.checkbox.table input:checked ~ span {
  background-color: #008FF8;
  border-color: #008FF8;
}
.checkbox.table input:checked ~ span img {
  opacity: 1;
}
.checkbox:hover {
  opacity: 1;
}
.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.checkbox input:checked ~ span {
  background-color: #5f8df8;
}
.checkbox input:checked ~ span img {
  opacity: 1;
}
.checkbox span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border-radius: 4px;
  border: 2px solid #5f8df8;
  background-color: transparent;
  padding: 1px;
}
.checkbox span img {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.voter {
  margin: 25px auto;
  width: 100%;
  max-width: 620px;
  padding-right: 20px;
}
.voter__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 10px 0px #C5C5C540;
          box-shadow: 0px 4px 10px 0px #C5C5C540;
  border: 1px solid #DEDEDE;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
}
.voter__inner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 30%;
  max-width: 160px;
}
.voter__inner-image img {
  width: 100%;
}
.voter__inner-content {
  width: 70%;
  max-width: 390px;
}
.voter__inner h1 {
  margin-bottom: 10px;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
            transform: translate3d(0, 15%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
            transform: translate3d(0, 15%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.header {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: #fff;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
}
.header__inner-logo img {
  width: 100%;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  z-index: 5;
  font-family: "Poppins", sans-serif;
}
.sidebar__inner {
  background-color: #fff;
  padding: 18px 12px 18px 18px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  max-width: 180px;
}
.sidebar__inner-logo img {
  width: 100%;
}
.sidebar__inner-link {
  color: #9a91b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 5px 0;
}
.sidebar__inner-link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__inner-link span img {
  width: 100%;
}
.sidebar__inner-link-icon {
  width: 21px;
  height: 21px;
  margin-right: 8px;
}
.sidebar__inner-link-arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 7px;
  height: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.sidebar__inner ul li {
  margin-bottom: 12px;
}
.sidebar__inner-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 18px;
  color: #2d3748;
  padding: 12px 13px;
  -webkit-box-shadow: 0px 3.5px 5.5px 0px #0000000D;
          box-shadow: 0px 3.5px 5.5px 0px #0000000D;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  background-color: #fff;
  max-width: 180px;
  margin: auto 0 0 0;
  position: relative;
}
.sidebar__inner-user::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1.5px solid #A0AEC0;
  border-right: 1.5px solid #A0AEC0;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}
.sidebar__inner-user span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.sidebar__inner-user span img {
  width: 100%;
  border-radius: 50%;
}

.burger {
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  width: 26px;
  height: 26px;
  position: relative;
}
.burger:hover {
  opacity: 0.8;
}
.burger::before {
  top: 10%;
  width: 100%;
  height: 3px;
  background-color: #0fb920;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  right: 0;
}
.burger span {
  top: 50%;
  width: 75%;
  height: 3px;
  background-color: #0fb920;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.burger::after {
  bottom: 10%;
  width: 50%;
  height: 3px;
  background-color: #0fb920;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  right: 0;
}

.intro__inner {
  min-height: calc(100vh - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro__inner-footer {
  margin: auto 0 0 0;
}

.addUser {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  overflow-y: auto;
  z-index: 7;
}
.addUser.active {
  display: block;
}
.addUser.active .addUser__inner {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.addUser__inner {
  background-color: #fff;
  width: 455px;
  padding: 40px 35px 40px 52px;
  border-radius: 10px;
  margin: 90px auto;
  border: 1px solid #D0D0D0;
}
.addUser__inner h2 {
  margin-bottom: 10px;
}
.addUser__inner > p {
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  color: #000;
}
.addUser__inner .input {
  margin-bottom: 10px;
}
.addUser__inner-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 70px;
}
.addUser__inner-check label {
  font-family: "Montserrat", sans-serif;
  color: #080808;
}
.addUser__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.addUser__inner-buttons .button {
  margin-right: 8px;
}
.addUser__inner-buttons .button:last-child {
  margin: 0;
}

.importUser {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  overflow-y: auto;
}
.importUser.active {
  display: block;
}
.importUser.active .importUser__inner {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.importUser__inner {
  background-color: #fff;
  width: 366px;
  padding: 30px 28px 20px 38px;
  border-radius: 10px;
  margin: 90px auto;
  border: 1px solid #D0D0D0;
}
.importUser__inner h2 {
  margin-bottom: 10px;
}
.importUser__inner > p {
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  color: #000;
}
.importUser__inner h3 {
  margin-bottom: 12px;
}
.importUser__inner-deviders {
  margin-bottom: 30px;
}
.importUser__inner-deviders label {
  font-size: 14px;
  line-height: 20px;
  color: #080808;
  cursor: pointer;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  max-width: 130px;
}
.importUser__inner-deviders label:hover {
  opacity: 0.8;
}
.importUser__inner-deviders label input {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #C9C9C9;
  opacity: 0.6;
  background-color: #f9f9f9;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}
.importUser__inner-deviders label input:checked {
  opacity: 1;
}
.importUser__inner-deviders label:last-child {
  margin-bottom: 0;
}
.importUser__inner-file {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.importUser__inner-file input {
  padding: 5px 12px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: 1px solid #C4C7CF;
  margin-right: 10px;
  border-radius: 6px;
  width: 60%;
  max-width: 150px;
}
.importUser__inner-file input:last-child {
  width: 40%;
  margin: 0;
  max-width: 94px;
  max-height: 32px;
  position: relative;
  cursor: pointer;
}
.importUser__inner-file input:last-child::before {
  position: absolute;
  content: "Browse...";
  width: calc(100% - 24px);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #4F566B;
}
.importUser__inner-file input::-webkit-file-upload-button {
  visibility: hidden;
}
.importUser__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.importUser__inner-buttons .button {
  margin-right: 8px;
}
.importUser__inner-buttons .button:last-child {
  margin: 0;
}

.intro {
  padding: 10px 20px;
  width: calc(100% - 220px);
  margin: 0 0 0 auto;
  height: 100%;
}
.intro__inner {
  background-color: #fff;
  border: 1px solid rgba(138, 136, 136, 0.2);
  border-radius: 20px;
  padding: 20px;
}
.intro__inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}
.intro__inner-header a {
  width: calc(14.2% - 2px);
  font-size: 12px;
  line-height: 16px;
  color: #697386;
  font-family: "Inter", sans-serif;
  position: relative;
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.intro__inner-header a:hover {
  opacity: 0.7;
}
.intro__inner-header a svg {
  width: 16px;
  height: 16px;
  fill: #6b7280;
  margin-right: 4px;
}
.intro__inner-header a span {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #c1c9d2;
}
.intro__inner-header a span::before {
  display: none;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
}
.intro__inner-header a span img {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.intro__inner-header a::before {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #c1c9d2;
  position: absolute;
  top: 0;
  left: 0;
}
.intro__inner-header a.checked {
  color: #3c4257;
}
.intro__inner-header a.checked::before {
  background-color: #6b7280;
}
.intro__inner-header a.checked span {
  background-color: #6b7280;
  border: none;
}
.intro__inner-header a.checked span img {
  opacity: 1;
}
.intro__inner-header a.active::before {
  background-color: #5469d4;
}
.intro__inner-header a.active span {
  background-color: #5469d4;
  display: block;
  border: unset;
}
.intro__inner-header a.active span::before {
  display: block;
}
.intro__inner-info {
  margin-bottom: 24px;
}
.intro__inner-info h2 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
  color: #000;
}
.intro__inner-info p {
  color: #000;
  font-family: "Poppins", sans-serif;
}
.intro__inner-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  position: relative;
  padding-top: 5px;
}
.intro__inner-footer::after {
  content: "";
  width: calc(100% + 40px);
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -20px;
  border-top: 1px solid #f5f5f5;
}
.intro__inner-footer .button {
  padding: 5px 16px;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
  position: relative;
  z-index: 2;
}
.intro__inner-footer .button.cancel {
  color: #4f566b;
  background-color: #f7fafc;
}
.intro__inner-footer .button.previous {
  color: #4f566b;
}
.intro__inner-footer .button.next {
  color: #fff;
  background-color: #5469d4;
}
.intro__inner-footer .buttons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro__inner-footer .buttons__row .button {
  margin-right: 8px;
}
.intro__inner-footer .buttons__row .button:last-child {
  margin: unset;
}

main {
  margin: 0 auto;
}

.list {
  padding: 0 10px;
}
.list__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.list__tools h2 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.list__tools h2.strong {
  font-weight: 600;
}
.list__tools-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list__tools-buttons .button {
  margin-right: 10px;
}
.list__tools-buttons .button:last-child {
  margin-right: unset;
}
.list__tools-buttons .button.secondary {
  letter-spacing: 0.5px;
}
.list__tools-buttons .button.secondary svg {
  fill: transparent;
  stroke: #5f8df8;
  stroke-width: 2px;
}
.list__tools-buttons .button.secondary:hover svg {
  stroke: #fff;
}
.list__tools-buttons .searchButton {
  position: relative;
  background: #f9fbff;
  border-radius: 30px;
  padding: 10px 20px 10px 41px;
  width: 229px;
  margin-right: 17px;
}
.list__tools-buttons .searchButton svg {
  width: 26px;
  height: 24px;
  fill: #fff;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.list__tools-buttons .searchButton input {
  font-family: "Poppins", sans-serif;
  line-height: 18px;
  font-size: 12px;
  background: #f9fbff;
}
.list__tools-buttons .searchButton input::-webkit-input-placeholder {
  font-size: 12px;
  color: #B5B7C0;
}
.list__tools-buttons .searchButton input::-moz-placeholder {
  font-size: 12px;
  color: #B5B7C0;
}
.list__tools-buttons .searchButton input:-ms-input-placeholder {
  font-size: 12px;
  color: #B5B7C0;
}
.list__tools-buttons .searchButton input::-ms-input-placeholder {
  font-size: 12px;
  color: #B5B7C0;
}
.list__tools-buttons .searchButton input::placeholder {
  font-size: 12px;
  color: #B5B7C0;
}
.list__tools-buttons .selectButton {
  width: 163px;
  font-family: "Poppins", sans-serif;
  background: #f9fbff;
  border-radius: 30px;
  position: relative;
  padding: 10px 48px 10px 16px;
}
.list__tools-buttons .selectButton svg {
  fill: #fff;
  width: 10px;
  height: 6px;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.list__tools-buttons .selectButton p {
  font-family: "Poppins", sans-serif;
  color: #7E7E7E;
  line-height: 18px;
}
.list__tools-buttons .selectButton p strong {
  font-weight: 600;
  color: #3d3c42;
}

table {
  width: 100%;
  text-align: left;
  padding: 0 10px;
  position: relative;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
  background-color: #fff;
  border-radius: 5px;
}
table th {
  padding: 11px 0;
}
table th h5 {
  font-size: 13px;
  line-height: 14px;
  color: #6d7490;
  padding-left: 12px;
  position: relative;
  font-weight: 400;
  z-index: 2;
}
table th h5 span {
  width: 7px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
table th h5 span img {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
table th h5 span img:hover {
  opacity: 0.8;
}
table th h5 span img:nth-child(2) {
  top: unset;
  bottom: 0;
}
table th h5.center {
  display: table;
  margin: 0 auto;
}
table thead tr {
  position: relative;
}
table thead tr::after {
  content: "";
  width: calc(100% + 26px);
  height: 100%;
  position: absolute;
  top: -2px;
  left: -13px;
  background: #fafafb;
  border: 1px solid #f3f3f3;
  border-radius: 5px 5px 0px 0px;
}
table td {
  padding: 7.5px 0;
  width: 25%;
  background: #fff;
}
table td h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
table td h5 p {
  margin-right: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #54b78b;
  position: relative;
}
table td h5 p span {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
table td h5 p.blue {
  background-color: #5469d4;
}
table td h5 p.red {
  background-color: #ff3d84;
}
table td h5 p.yellow {
  background-color: #fdb738;
}
table td a {
  font-size: 14px;
  line-height: 16px;
  color: #616161;
  font-weight: 400;
}
table td .button__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
table td .button__row .button {
  margin-right: 5px;
}
table td .button__row .button:last-child {
  margin: unset;
}
table td .button__row .button.edit {
  background: #fff;
  border: 1px solid #5f8df8;
  border-radius: 3px;
  color: #5f8df8;
}
table td .button__row .button.edit svg {
  fill: #5f8df8;
}
table td .button__row .button.edit:hover {
  color: #fff;
  background-color: #5f8df8;
}
table td .button__row .button.edit:hover svg {
  fill: #fff;
}
table td h6 {
  color: #0c9700;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  padding: 3px 0;
}
table td h6 span {
  position: relative;
}
table td h6::before {
  content: "";
  width: 100%;
  max-width: 65px;
  background-color: #d8f8d0;
  height: 100%;
  left: 50%;
  top: 0;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
table td.center {
  text-align: center;
}
table td .checkbox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
table td .checkbox__wrapper label {
  cursor: pointer;
}
table td .checkbox__wrapper span img {
  width: 13px;
  height: 10px;
}
table tbody tr {
  position: relative;
}
table tbody tr:after {
  content: "";
  width: calc(100% + 20px);
  height: 1px;
  background-color: #f3f3f3;
  position: absolute;
  bottom: 0;
  left: -10px;
}
table tbody tr:last-child::after {
  display: none;
}
table tfoot {
  display: table-footer-group;
  position: relative;
}
table tfoot tr {
  position: relative;
}
table tfoot tr:after {
  content: "";
  width: calc(100% + 20px);
  height: 1px;
  background-color: #f3f3f3;
  position: absolute;
  bottom: -2px;
  left: -10px;
}
table tfoot td {
  padding: 16px 0 16px 10px;
  color: #959595;
  font-size: 12px;
}
table tfoot td .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
table tfoot td .pagination .button {
  padding: unset;
  background-color: unset;
  margin-right: 10px;
  color: #d0d0d0;
  line-height: 12px;
}
table tfoot td .pagination .button:last-child {
  margin-right: unset;
}
table tfoot td .pagination .button.active {
  color: #7a7373;
}
table tfoot td .pagination a {
  font-size: 12px;
  line-height: 14px;
  color: #7a7373;
  margin-right: 6px;
  border-radius: 3px;
  padding: 0 4px;
}
table tfoot td .pagination a:last-child {
  margin-right: 10px;
}
table tfoot td .pagination a.active {
  background-color: #f1efef;
}
table tfoot td .pagination a:hover {
  background-color: #f1efef;
}

.selectUser {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  overflow-y: auto;
}
.selectUser.active {
  display: block;
}
.selectUser.active .selectUser__inner {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.selectUser__inner {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  margin: 50px auto;
}
.selectUser__inner-wrapper {
  padding: 20px 25px;
}
.selectUser__inner-info {
  margin-bottom: 5px;
}
.selectUser__inner-info h2 {
  margin-bottom: 5px;
}
.selectUser__inner-info p {
  font-size: 12px;
}
.selectUser__inner-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.selectUser__inner-tab p {
  margin-right: 10px;
  padding: 6px 16px 8px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.selectUser__inner-tab p:after {
  display: none;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #1837a4;
  position: absolute;
  bottom: 0;
  left: 0;
}
.selectUser__inner-tab p.active {
  color: #5469d4;
}
.selectUser__inner-tab p.active:after {
  display: block;
}
.selectUser__inner .list {
  background: #ffffff;
  border: 1px solid rgba(138, 136, 136, 0.2);
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  margin-bottom: 12px;
  padding: unset;
}
.selectUser__inner .list__tools {
  margin: unset;
  padding: 18px 17px;
}
.selectUser__inner table {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-filter: unset;
          filter: unset;
}
.selectUser__inner .users {
  display: none;
}
.selectUser__inner .users.active {
  display: block;
}
.selectUser__inner .groups {
  display: none;
}
.selectUser__inner .groups.active {
  display: block;
}
.selectUser__inner .groups table td {
  width: 33.3%;
  color: #616161;
}
.selectUser__inner .groups table td h5.user {
  color: #5f8df8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
}
.selectUser__inner .groups table td h5.user svg {
  stroke: #5f8df8;
  fill: #fff;
  width: 13px;
  height: 13px;
  margin-right: 3px;
  stroke-width: 1px;
}
.selectUser__inner .groups table td h5.user.empty {
  color: #616161;
}
.selectUser__inner .groups table td h5.user.empty svg {
  stroke: #616161;
}

.buttons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.buttons__row .button {
  margin-right: 8px;
  padding: 5px 18px;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
  position: relative;
  z-index: 2;
}
.buttons__row .button.cancel {
  border: 1px solid #c1c9d2;
  -webkit-box-shadow: 0px 1px 2px rgba(55, 65, 81, 0.08);
          box-shadow: 0px 1px 2px rgba(55, 65, 81, 0.08);
  border-radius: 4px;
  color: #4f566b;
  background-color: #fff;
}
.buttons__row .button.confirm {
  color: #fff;
  background-color: #5469d4;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(55, 65, 81, 0.06)) drop-shadow(0px 1px 3px rgba(55, 65, 81, 0.1));
          filter: drop-shadow(0px 1px 2px rgba(55, 65, 81, 0.06)) drop-shadow(0px 1px 3px rgba(55, 65, 81, 0.1));
}

@media (max-width: 1180px) {
  .header {
    display: block;
  }

  .intro {
    width: 100%;
    padding-top: 66.79px;
  }
  .sidebar {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 100%;
    height: 100%;
    top: 56.79px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .sidebar.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .sidebar__inner {
    width: 220px;
    padding-top: 60px;
  }
  .sidebar__inner-logo {
    display: none;
  }

  .burger {
    display: block;
  }
}
@media (max-width: 540px) {
  .addUser {
    padding: 0 16px;
  }
  .addUser__inner {
    width: 100%;
    max-width: 455px;
    margin: 50px auto;
    padding: 30px;
  }
  .addUser__inner-check {
    margin-bottom: 40px;
  }
  .addUser__inner p {
    margin-bottom: 25px;
  }
  .addUser__inner .input {
    max-width: unset;
  }
}
@media (max-width: 390px) {
  .addUser__inner {
    padding: 22px;
  }
  .addUser__inner-check {
    margin-bottom: 20px;
  }
  .addUser__inner p {
    margin-bottom: 15px;
  }

  .importUser {
    padding: 0 16px;
  }
  .importUser__inner {
    padding: 22px;
    margin: 50px auto;
    width: 100%;
    max-width: 366px;
  }
  .importUser__inner-file {
    margin-bottom: 20px;
  }
  .importUser__inner > p {
    margin-bottom: 20px;
  }
}