// colors
$primary: #5f8df8;
$black: #000;
$black2: #616161;
$black3: #2d3748;
$white: #fff;
$violet: #9a91b3;
$red: #e14b4b;

// fonts
$inter: "Inter", sans-serif;
$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;

$gray: #3c4257;
$gray2: #6b7280;
$gray3: #c1c9d2;
$gray4: #6d7490;
$gray5: #fafafb;
$gray6: #f3f3f3;
$gray7: #f0f3fe;
$gray8: #959595;
$gray9: #7a7373;
$gray10: #f1efef;
$gray11: #d0d0d0;
$green: #54b78b;
$gray12: #f5f5f5;
$gray13: #f9fbff;
$gray14: #b5b7c0;
$gray15: #7e7e7e;
$gray16: #616161;

$blue: #5469d4;
$red2: #ff3d84;
$yellow: #fdb738;
$greenDark: #0c9700;
$blue2: #4f566b;
$lightBlue: #f7fafc;
$darkBlue: #1837a4;
$lightGreen: #d8f8d0;



$gray17: #d8d8d8;

$gray18:#6C6C6C;


$gray19:#E4E4E4;
$gray20:#AC9D9D;
$red3: #EB9595;
$red4: #E14B4B;

$red5:#C9220B;