// colors
$primary: #5F8DF8;
$black: #000;
$black2:#616161;
$black3: #2D3748;
$white: #fff;
$violet: #9A91B3;
$red: #E14B4B;

// fonts
$inter: 'Inter', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poppins:'Poppins', sans-serif;;
$roboto: 'Roboto', sans-serif;




