h4 {
  font-size: 12px;
  line-height: 16px;
  color: $gray;
  font-family: $inter;
  position: relative;
  padding-top: 12px;
  display: flex;
  svg {
    width: 16px;
    height: 16px;
    fill: $gray2;
    margin-right: 4px;
  }
  span {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border-radius: 50%;
    position: relative;
    border: 2px solid $gray3;
    &::before {
      display: none;
      content: "";
      width: 5px;
      height: 5px;
      background-color: $white;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      position: absolute;
    }
  }
  &::before {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $gray2;
    position: absolute;
    top: 0;
    left: 0;
  }
  &.active {
    &::before {
      background-color: $blue;
    }
    span {
      background-color: $blue;

      display: block;
      border: unset;
      &::before {
        display: block;
      }
    }
  }
}
.intro {
  padding: 15px 20px;
  &__inner {
    background-color: $white;
    border: 1px solid rgba(138, 136, 136, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 20px;
    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      h4 {
        width: calc(14.2% - 2px);
      }
    }
    &-info {
      margin-bottom: 24px;
      h2 {
        font-weight: 600;
        font-family: $poppins;
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
        color: $black;
      }
      p {
        color: $black;
        font-family: $poppins;
      }
    }
    &-list {
      padding: 0 10px;
      .introList {
        &__tools {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          h2 {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            color: $black;
            font-family: $poppins;
            font-weight: 500;
          }
          &-buttons {
            display: flex;
            justify-content: space-between;
            .button {
              margin-right: 10px;
              &:last-child {
                margin-right: unset;
              }
              &.secondary {
                letter-spacing: 0.5px;
                svg {
                  fill: transparent;
                  stroke: $primary;
                }
                &:hover {
                  svg {
                    stroke: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      background-color: $white;
      position: relative;
      padding-top: 5px;
      &::after {
        content: "";
        width: calc(100% + 40px);
        height: 100%;
        background-color: $white;
        position: absolute;
        top: 0;
        left: -20px;
        border-top: 1px solid $gray12
      }
      .button {
        padding: 5px 16px;
        font-family: $inter;
        border-radius: 4px;
        position: relative;
        z-index: 2;
        &.cancel {
          color: $blue2;
          background-color: $lightBlue;
        }
        &.previous {
          color: $blue2;
        }
        &.next {
          color: $white;
          background-color: $blue;
        }
      }
      .buttons__row {
        display: flex;
        .button {
          margin-right: 8px;
          &:last-child {
            margin: unset;
          }
        }
      }
    }
  }
}
main {
  max-width: 1370px;
  margin: 0 auto;
}

table {
  width: 100%;
  text-align: left;
  padding: 0 10px;
  position: relative;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
  background-color: $white;
  border-radius: 5px;
  th {
    padding: 13px 0 13px 0;
    h5 {
      font-size: 13px;
      line-height: 14px;
      color: $gray4;
      padding-left: 12px;
      position: relative;
      span {
        width: 7px;
        height: 10px;
        position: absolute;
        left: 0;
        top: 48%;
        transform: translateY(-50%);
        img {
          width: 100%;
          height: 4px;
          position: absolute;
          top: 0;
          left: 0;
          &:nth-child(2) {
            top: unset;
            bottom: 0;
          }
        }
      }
      &.center {
        display: table;
        margin: 0 auto;
      }
    }
  }
  thead {
    tr {
      position: relative;
      &::after {
        content: "";
        width: calc(100% + 26px);
        height: 100%;
        position: absolute;
        top: -2px;
        left: -13px;
        background: $gray5;
        border: 1px solid $gray6;
        border-radius: 5px 5px 0px 0px;
        z-index: -1;
      }
    }
  }
  td {
    padding: 7.5px 0;
    width: 25%;
    background: $white;
    h5 {
      display: flex;
      align-items: center;
      p {
        margin-right: 10px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: $green;
        position: relative;
        span {
          font-size: 12px;
          line-height: 14px;
          font-weight: 700;
          position: relative;
          text-transform: uppercase;
          color: $white;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &.blue {
          background-color: $blue;
        }
        &.red {
          background-color: $red2;
        }
        &.yellow {
          background-color: $yellow;
        }
      }
    }
    a {
      font-size: 14px;
      line-height: 16px;
      color: $black2;
      font-weight: 400;
    }
    .button__row {
      display: flex;
      justify-content: flex-end;
      .button {
        margin-right: 5px;
        &:last-child {
          margin: unset;
        }
        &.edit {
          background: $white;
          border: 1px solid $primary;
          border-radius: 3px;
          color: $primary;
          svg {
            fill: $primary;
          }
          &:hover {
            color: $white;
            background-color: $primary;
            svg {
              fill: $white;
            }
          }
        }
      }
    }
    h6 {
      color: $greenDark;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 500;
      position: relative;
      padding: 3px 0;
      span {
        position: relative;
      }
      &::before {
        content: "";
        width: 100%;
        max-width: 65px;
        background-color: $lightGreen;
        height: 100%;
        left: 50%;
        top: 0;
        position: absolute;
        transform: translateX(-50%);
      }
    }
    &.center {
      text-align: center;
    }
  }
  tbody {
    tr {
      position: relative;
      &:after {
        content: "";
        width: calc(100% + 20px);
        height: 1px;
        background-color: $gray6;
        position: absolute;
        bottom: 0;
        left: -10px;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
  tfoot {
    display: table-footer-group;
    position: relative;
    tr {
      position: relative;
      &:after {
        content: "";
        width: calc(100% + 20px);
        height: 1px;
        background-color: $gray6;
        position: absolute;
        bottom: -2px;
        left: -10px;
      }
    }
    td {
      padding: 16px 0 16px 10px;
      color: $gray8;
      font-size: 12px;
      .pagination {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        .button {
          padding: unset;
          background-color: unset;
          margin-right: 10px;
          color: $gray11;
          line-height: 12px;

          &:last-child {
            margin-right: unset;
          }
          &.active {
            color: $gray9;
          }
        }
        a {
          font-size: 12px;
          line-height: 14px;
          color: $gray9;
          margin-right: 6px;
          border-radius: 3px;
          padding: 0 4px;
          &:last-child {
            margin-right: 10px;
          }
          &.active {
            background-color: $gray10;
          }
        }
      }
    }
  }
}
