.header {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: $white;
  &__inner {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      img {
        width: 100%;
      }
    }
  }
}
// 1180px
@mixin header-xlg-xxlg {
  .header {
    display: block;
  }
}
// 1024px
@mixin header-lg-xlg {
    .header {
      &__inner {
        padding: 10px 15px;
      }
    }
}
// 540px
@mixin header-xsm-sm {
    .header {
    
    }
}
